$icomoon-font-family: "soon" !default;
$icomoon-font-path: "fonts" !default;

$icon-github: "\e900";
$icon-instagram: "\e901";
$icon-facebook: "\e902";
$icon-youtube: "\e903";
$icon-reddit: "\e904";

